<%= form_for [@listing, @booking] do |f| %>
  <% if @errors.present? %>
    <div>
      <%= @errors %>
    </div>
  <% end %>
  <div class="col-sm-12">
    <%= f.label :num_guests %>
    <%= f.number_field :num_guests, class: "form-control" %>
  </div>
  <br>
  <div class="col-sm-6">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: "form-control" %>
  </div>
  <div class="col-sm-6">
    <%= f.label :end_date %>
    <%= f.date_field :end_date, class: "form-control" %>
  </div>
<!--   <script type="text/javascript">
    $(document).ready(function(){
      $('#booking_num_guests').change(function(){
        $('.totalprice').html('<div><%=  @listing.price %> * $(#booking_num_guests).val()</div>');
        });
      });
  </script> -->
  <div>Total:</div><div class="totalprice"></div>

  <div id="payment-form"></div>

  <script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>
  <script>
  // We generated a client token for you so you can test out this code
  // immediately. In a production-ready integration, you will need to
  // generate a client token on your server (see section below).


  braintree.setup('<%= @client_token %>', "dropin", {
    container: "payment-form"
  });
</script>

  <%= f.submit "Submit Booking", class: 'col-sm-12 btn btn-primary' %>
<% end %>